{{define "div-response"}}

<p>{{.Msg}}</p>
{{with .NextAction}}
  {{if .HTMX}}
    <button
    class="next-action"
    hx-get="{{.URL}}"
    hx-target="closest div"
    hx-swap="outerHTML"
    >{{.Name}}</button>
  {{else}}
    <a href={{.URL}} class="next-action">{{.Name}}</a>
  {{end}}
{{end}}

{{end}}
