{{define "form-init"}}

<div class="hx-container">
  <form class="page-form" method="post" action="/init">
    <table class="form-table">
      <tr>
        <th><label for="key">Clave de activación</label></th>
        <td>
          <input
          class="field"
          type="text"
          id="key"
          name="key"
          pattern="[0-9]{16}"
          placeholder="1111-2222-3333-4444"
          title="Código de 16 dígitos"
          required
          >
        </td>
      </tr>
      <tr>
        <th><label for="username">Nombre de usuario</label></th>
        <td>{{template "input-username"}}</td>
      </tr>
      <tr>
        <th><label for="password-1">Contraseña</label></th>
        <td>{{template "input-password" "password-1"}}</td>
      </tr>
      <tr>
        <th><label for="password-2">Contraseña (otra vez)</label></th>
        <td>{{template "input-password" "password-2"}}</td>
      </tr>
      <tr>
        <th><label for="full-name">Nombre completo</label></th>
        <td>{{template "input-full-name"}}</td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn" type="submit" value="Enviar"></td>
      </tr>
    </table>
  </form>
</div>

{{end}}
