{{define "form-change-password"}}

<div class="hx-container">
  {{template "button-clear"}}
  <form class="page-form" hx-patch="/account/password">
    <table class="form-table">
      <tr>
        <th><label for="old-password">Contraseña actual</label></th>
        <td>{{template "input-password" "old-password"}}</td>
      </tr>
      <tr>
        <th><label for="new-password">Contraseña nueva</label></th>
        <td>{{template "input-password" "new-password"}}</td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn" type="submit" value="Cambiar"></td>
      </tr>
    </table>
  </form>
</div>

{{end}}
