{{define "form-register-staff-admin"}}

<div class="hx-container">
  {{template "button-clear"}}
  <form class="page-form" hx-post="/dashboard/admin/staff">
    <table class="form-table">
      <tr>
        <th><label for="reg-username">Nombre de usuario</label></th>
        <td>{{template "input-username"}}</td>
      </tr>
      <tr>
        <th><label for="password-1">Contraseña</label></th>
        <td>{{template "input-password" "password-1"}}</td>
      </tr>
      <tr>
        <th><label for="password-2">Contraseña (otra vez)</label></th>
        <td>{{template "input-password" "password-2"}}</td>
      </tr>
      <tr>
        <th><label for="full-name">Nombre completo</label></th>
        <td>{{template "input-full-name"}}</td>
      </tr>
      <tr>
        <th><label for="admin">Administrador</label></th>
        <td>
          <input type="checkbox" id="admin" name="admin" value="true">
          <input type="hidden" name="admin" value="false">
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn" type="submit" value="Crear cuenta"></td>
      </tr>
    </table>
  </form>
</div>

{{end}}
