{{define "form-edit-item"}}

<div class="hx-container">
  {{template "button-clear"}}
  <form
  class="page-form"
  hx-patch="/dashboard/admin/menu/{{.Id}}"
  >
    <table class="form-table">
      <tr>
        <th><label for="edit-name-{{.Id}}">Nombre</label></th>
        <td>
          <input
          class="field"
          type="text"
          id="edit-name-{{.Id}}"
          name="name"
          value="{{.Name}}"
          required
          >
        </td>
      </tr>
      <tr>
        <th><label for="edit-price-{{.Id}}">Precio</label></th>
        <td>
          <input
          class="field"
          type="number"
          id="edit-price-{{.Id}}"
          name="price"
          step="0.01"
          min="0"
          value="{{.Price}}"
          required
          >
        </td>
      </tr>
      <tr>
        <th><label for="edit-desc-{{.Id}}">Descripción</label></th>
        <td>
          <textarea class="field field-area" id="edit-desc-{{.Id}}" name="desc">
            {{.Desc}}
          </textarea>
        </td>
      </tr>
      <tr>
        <th><label for="edit-available-{{.Id}}">Disponible</label></th>
        <td>
          <input
          class="field-check"
          type="checkbox"
          id="edit-available-{{.Id}}"
          name="available"
          value="true"
          {{if .Available}}checked{{end}}
          >
          <input type="hidden" name="available" value="false">
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn" type="submit" value="Guardar"></td>
      </tr>
    </table>
  </form>
</div>

{{end}}
