{{define "form-register-staff"}}

<div class="hx-container">
  {{template "button-clear"}}
  <form method="post" action="/init">
    <table>
      <tr>
        <th><label for="key">Clave de activación</label></th>
        <td>
          <input
          type="text"
          id="key"
          name="key"
          pattern="[0-9]{16}"
          placeholder="1111-2222-3333-4444"
          title="Código de 16 dígitos"
          required
          >
        </td>
      </tr>
      <tr>
        <th><label for="username">Nombre de usuario</label></th>
        <td>{{template "input-username"}}</td>
      </tr>
      <tr>
        <th><label for="password-1">Contraseña</label></th>
        <td>{{template "input-password" "password-1"}}</td>
      </tr>
      <tr>
        <th><label for="password-2">Contraseña (otra vez)</label></th>
        <td>{{template "input-password" "password-2"}}</td>
      </tr>
      <tr>
        <th><label for="full-name">Nombre completo</label></th>
        <td>
          <input
          type="text"
          id="full-name"
          name="full-name"
          pattern="[a-zA-Z0-9\s]+"
          placeholder="Nemo Omen"
          title="Caracteres alfanuméricos y espacios"
          required
          >
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Enviar"></td>
      </tr>
    </table>
  </form>
</div>

{{end}}
