{{define "list-users"}}

<h3>Usuarios</h3>
{{if not .}}
  <p>No hay usuarios</p>
{{else}}
  <table>
    <tr><th>Usuario</th><th>Creado</th><th>Activo</th><th>Acciones</th></tr>
    {{range .}}
    <tr id="user-{{.Username}}">
      <td>{{.Username}}</td>
      <td>{{.TimeCreated}}</td>
      <td>{{if .Active}}Sí{{else}}No{{end}}</td>
      <td>
        {{if .Active}}
        <button
        hx-patch="/dashboard/admin/users/deactivate/{{.Username}}"
        hx-vals='{"username":"{{.Username}}"}'
        hx-target="#msg-user-{{.Username}}"
        hx-swap="innerHTML"
        hx-confirm="¿Desactivar la cuenta de {{.Username}}?"
        >Desactivar</button>
        {{end}}
        <span id="msg-user-{{.Username}}"></span>
      </td>
    </tr>
    {{end}}
  </table>
{{end}}

{{end}}
