{{define "base"}}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} | Repostele {{.Server}}</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/htmx.min.js"></script>
  <script src="/csrf.min.js" defer></script>
</head>
<body>
  <header class="site-header">Repostele</header>
  <!-- TODO: make nav independent & update periodically -->
  {{if .Init}}
    <nav id="site-nav">
      <ul id="site-nav-list-left">
        <li><a href="/menu">Menú</a></li>
        {{if and .LoggedIn .IsStaff}}
          <!-- TODO: add icon that shows pending orders -->
          <li><a href="/dashboard">Panel</a></li>
        {{end}}
      </ul>
      <ul id="site-nav-list-right">
        {{if .LoggedIn}}
          <li><a href="/account">Cuenta</a></li>
          <li>
            <button
            id="login-logout"
            class="site-nav-btn"
            hx-patch="/logout"
            >Salir</button>
          </li>
        {{else}}
          <li><a href="/login" id="login-logout">Acceder</a></li>
        {{end}}
      </ul>
    </nav>
  {{end}}
  <main class="site-main">
    {{with .Err}}
      <div id="err-msg" class="banner banner-err">
        <p class="banner-text">{{.}}</p>
      </div>
    {{else}}
      {{CallTemplate .MainName .MainData}}
    {{end}}
  </main>
  <!-- TODO: add foldable aside shortcut to compact order list when .IsStaff -->
  <footer class="site-footer">Footer</footer>
</body>
</html>

{{end}}
