{{define "base"}}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} | Repostele {{.Server}}</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/htmx.min.js"></script>
  <script src="/csrf.min.js" defer></script>
</head>
<body>
  <header>Repostele</header>
  <nav>
    {{if .Init}}
      <ul>
        <li><a href="/menu">Menú</a></li>
        {{if .LoggedIn}}
          {{if .IsStaff}}<li><a href="/dashboard">Panel</a></li>{{end}}
          <li><a href="/account">Cuenta</a></li>
          <li>
            <!-- TODO: make this work -->
            <button
            id="login-logout"
            type="submit"
            formaction="/logout"
            formmethod="patch"
            >Salir
            </button>
          </li>
        {{else}}
          <li><a href="/login" id="login-logout">Acceder</a></li>
        {{end}}
      </ul>
    {{end}}
  </nav>
  <main>
    {{with .Err}}
      <div id="err-msg">
        <p>{{.}}</p>
      </div>
    {{else}}
      {{CallTemplate .MainName .MainData}}
    {{end}}
  </main>
  <footer>Footer</footer>
</body>
</html>

{{end}}
