{{define "base"}}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} | Repostele {{.Server}}</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/htmx.min.js"></script>
  <script src="/csrf.min.js" defer></script>
</head>
<body>
  <header id="site-header">Repostele</header>
  {{if .Init}}
    <nav
    id="site-nav"
    hx-get="/htmx/nav"
    hx-trigger="load, every 30s"
    hx-swap="innerHTML"
    ></nav>
  {{end}}
  <main class="site-main">
    {{with .Err}}
      <div id="err-msg" class="banner banner-err">
        <p class="banner-text">{{.}}</p>
      </div>
    {{else}}
      {{CallTemplate .MainName .MainData}}
    {{end}}
  </main>
  <!-- TODO: add foldable aside shortcut to compact order list when .IsStaff -->
  <footer id="site-footer">Footer</footer>
</body>
</html>

{{end}}
