{{define "button-create-item"}}
<button
class="btn btn-block"
hx-get="htmx/form-create-item?hasNext={{.HasNext}}"
hx-target="#{{.Target}}"
hx-swap="innerHTML"
>Crear nuevo item</button>
<div id="{{.Target}}" class="hx-slot"></div>
{{end}}
