{{define "button-clear"}}
<!-- MUST be immediate child of .hx-container -->
<button
class="button-clear"
type="button"
hx-get="htmx/blank"
hx-target="closest .hx-container"
hx-swap="outerHTML"
aria-label="Cerrar"
>X</button>
{{end}}
