{{define "input-username"}}
<input
class="field"
type="text"
id="username"
name="username"
minlength="4"
maxlength="16"
pattern="[a-zA-Z0-9]+"
placeholder="usuario"
title="4-16 caracteres alfanuméricos"
required
>
{{end}}
