{{define "input-password"}}
<input
type="password"
id="{{.}}"
name="{{.}}"
minlength="4"
maxlength="16"
pattern="[a-zA-Z0-9]+"
placeholder="●●●●●●●●●●●●●●●●"
title="4-16 caracteres alfanuméricos"
required
>
{{end}}
