{{define "input-full-name"}}

<input
class="field"
type="text"
id="full-name"
name="full-name"
pattern="[a-zA-Z0-9\s]+"
placeholder="Nemo Omen"
title="Caracteres alfanuméricos y espacios"
required
>

{{end}}
