{{define "main-dashboard"}}

<article class="page">
  <h1 class="page-title">Panel de operaciones</h1>
  {{with .Msg}}
    {{template "div-msg" .}}
  {{else}}
    <h2 class="section-title">Acciones generales</h2>
    <ul class="action-list">
      <li class="action-item">
        <button
        class="btn btn-block"
        hx-get="/dashboard/orders"
        hx-target="#db-order-list"
        hx-swap="innerHTML">
        Lista de ordenes
        </button>
        <div id="db-order-list" class="hx-slot"></div>
      </li>
    </ul>
    {{if .IsAdmin}}
    <h2 class="section-title">Acciones de administrador</h2>
    <ul class="action-list">
      <li class="action-item">
      {{template "button-create-item" "db-new-item"}}
      </li>
      <li class="action-item">
        <button
        class="btn btn-block"
        hx-get="/dashboard/admin/staff"
        hx-target="#db-staff-list"
        hx-swap="innerHTML"
        >Personal</button>
        <div id="db-staff-list" class="hx-slot"></div>
      </li>
      <li class="action-item">
        <button
        class="btn btn-block"
        hx-get="/dashboard/admin/users"
        hx-target="#db-user-list"
        hx-swap="innerHTML"
        >Usuarios</button>
        <div id="db-user-list" class="hx-slot"></div>
      </li>
      <li class="action-item">
        <button
        class="btn btn-block"
        hx-get="/dashboard/admin/sessions"
        hx-target="#db-session-list"
        hx-swap="innerHTML"
        >Sesiones</button>
        <div id="db-session-list" class="hx-slot"></div>
      </li>
    </ul>
    {{end}}
  {{end}}
</article>

{{end}}
