{{define "main-menu"}}

<article class="page">
  <h1 class="page-title">Menú</h1>
  {{$loggedIn := .LoggedIn}}
  {{$isAdmin := .IsAdmin}}
  {{$isStaff := .IsStaff}}
  {{$topMsg := .Msg}}
  {{if $isAdmin}}{{template "button-create-item" (dict "Target" "menu-new-item" "HasNext" .HasNext)}}{{end}}
  {{if and $loggedIn (not $isStaff) .CurrentOrder}}
    <div class="hx-container">
      <h3 class="panel-title">Tu orden actual</h3>
      <ul class="row-card-list">
        {{template "order-row" (dict "Order" .CurrentOrder "IsStaff" false)}}
      </ul>
    </div>
  {{end}}
  {{block "prev-next" (dict "Params" .Params "HasNext" .HasNext)}}
    {{if or .Params.Start .HasNext}}
      <div class="list-pagination">
        {{if .Params.Start}}
          <a
          class="btn btn-compact pag-prev"
          href="/menu?start={{subClamped .Params.Start .Params.Limit}}&limit={{.Params.Limit}}"
          >« Anterior</a>
        {{else}}
          <div class="pag-prev"></div>
        {{end}}
        {{if .HasNext}}
          <a
          class="btn btn-compact pag-next"
          href="/menu?start={{add .Params.Start .Params.Limit}}&limit={{.Params.Limit}}"
          >Siguiente »</a>
        {{else}}
          <div class="pag-next"></div>
        {{end}}
      </div>
    {{end}}
  {{end}}
  <div id="menu-item-list">
    {{$anyVisible := false}}
    {{with .Data}}
      {{range .}}
        {{if or .Available $isAdmin}}
          {{$anyVisible = true}}
          {{template "menu-item" (dict
            "Item" .
            "LoggedIn" $loggedIn
            "IsStaff" $isStaff
            "IsAdmin" $isAdmin
            "OOB" false
          )}}
        {{end}}
      {{end}}
    {{end}}
    {{if not $anyVisible}}
      <p id="menu-empty-msg" class="empty-msg">
      {{if $topMsg}}{{$topMsg}}{{else}}No hay ítemes disponibles{{end}}
      </p>
    {{end}}
  </div>
  {{template "prev-next" (dict "Params" .Params "HasNext" .HasNext)}}
</article>

{{end}}

