{{define "menu-item"}}
<div
id="menu-item-{{.Item.Id}}"
class="menu-item {{if not .Item.Available}}unavailable{{end}}"
{{if .OOB}}hx-swap-oob="true"{{end}}
>
  <h3 class="menu-item-name">
    {{.Item.Name}} {{if not .Item.Available}}(no disponible){{end}}
  </h3>
  <div class="menu-item-price"><span>₡{{.Item.Price}}</span></div>
  {{if .Item.ImgPath}}
  <img class="menu-item-img" src="{{.Item.ImgPath}}" alt="{{.Item.Name}}">
  {{end}}
  <p class="menu-item-desc">{{.Item.Desc}}</p>
  {{if .LoggedIn}}
    {{if .IsStaff}}
      {{if .IsAdmin}}
        <button
        class="btn btn-block"
        hx-get="/dashboard/admin/menu/{{.Item.Id}}/edit"
        hx-target="#item-edit-{{.Item.Id}}"
        hx-swap="innerHTML"
        >Editar</button>
        <div id="item-edit-{{.Item.Id}}" class="hx-slot"></div>
      {{end}}
    {{else}}
      <!--
      TODO: tesseract.min.js OCR step (checkout, on /cart)
      - scan attached image for 25-digit refnum
      - prompt user to verify scanned code against real code
      - if ok, POST /order using code string, not img
      -->
      <button
      class="btn btn-block"
      type="button"
      data-cart-add
      data-item-id="{{.Item.Id}}"
      data-item-name="{{.Item.Name}}"
      data-item-price="{{.Item.Price}}"
      >
        Agregar a la orden
      </button>
    {{end}}
  {{end}}
</div>
{{end}}
